{{- define "title" }}搜索 - {{ .Site.Title }}{{ end -}}
{{- define "content" }}
<script src="https://cdn.jsdelivr.net/npm/fuse.js@6/dist/fuse.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mark.js@8/dist/mark.min.js"></script>
<script id="search-result-template" type="text/x-js-template">
  <div id="summary-${key}">
    <article class="post">
      <header class="post-header">
        <h1 class="post-title"><a class="post-link" href="${link}">${title}</a></h1>
        <div class="post-meta">
          <span class="post-time"> ${date} </span>
          ${ isset categories }<div class="post-category"><a href="{{ "categories" | relLangURL }}/${categories}/"> ${categories} </a></div>${ end }
        </div>
      </header>
      <!-- Content -->
      <div class="post-content">
        <div class="post-summary">
          ${snippet}
        </div>
        <div class="read-more">
          <a href="${link}" class="read-more-link">{{ T "readMore" }}</a>
        </div>
      </div>
      ${ isset tags }${tags}${ end }
    </article>
  </div>
</script>
<script src="{{ "js/search.js" | absURL }}"></script>
<div class="content-wrapper">
  <div id="content" class="content">
    <section id="search-input">
      <input id="search-content" type="search" oninput="executeSearch()"/>
      <i class="iconfont icon-search" onclick="executeSearch()"></i>
    </section>
    <br/>
    <section id="search-results">
      <p>请在上方输入关键词进行搜索</p>
    </section>
  </div>
</div>
{{ end -}}
