name: Update CF Problems

on:
  schedule:
    - cron: "0 0 */3 * *"
  workflow_dispatch:

jobs:
  update-cf-problems:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "0.69.2"
          extended: true

      - name: Build
        run: |
          git config core.quotePath false
          hugo

      - name: Install requirements
        run: pip install requests

      - run: python scripts/UpdateCF_Problems.py

      - name: copy json
        run: cp public/contests.json static/contests.json

      - name: Commit
        run: |
          git status
          git config user.email "action@github.com"
          git config user.name "GitHub Action"
          git commit -am "chore: update CF Problems"

      - name: Push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}


      - name: Build
        run: |
          git config core.quotePath false
          hugo --minify
      - name: Check links
        id: check-links
        uses: peter-evans/link-checker@v1
        with:
          args: -r public -d public -x "https?:\/\/"

      - name: Fail on link errors
        run: exit ${{ steps.check-links.outputs.exit_code }}

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          external_repository: tom0727/tom0727.github.io
          personal_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          publish_branch: publish
          commit_message: ${{ github.event.head_commit.message }}

      - name: Sync to Gitee
        uses: wearerequired/git-mirror-action@master
        env:
          # 注意在 Settings->Secrets 配置 GITEE_RSA_PRIVATE_KEY
          SSH_PRIVATE_KEY: ${{ secrets.GITEE_RSA_PRIVATE_KEY }}
        with:
          # 注意替换为你的 GitHub 源仓库地址
          source-repo: git@github.com:tom0727/tom0727.github.io.git
          # 注意替换为你的 Gitee 目标仓库地址
          destination-repo: git@gitee.com:tom0727/tom0727.git

      - name: Build Gitee Pages
        uses: yanglbme/gitee-pages-action@main
        with:
          # 注意替换为你的 Gitee 用户名
          gitee-username: tom0727
          # 注意在 Settings->Secrets 配置 GITEE_PASSWORD
          gitee-password: ${{ secrets.GITEE_PASSWORD }}
          # 注意替换为你的 Gitee 仓库，仓库名严格区分大小写，请准确填写，否则会出错
          gitee-repo: tom0727/tom0727
          # 要部署的分支，默认是 master，若是其他分支，则需要指定（指定的分支必须存在）
          branch: publish

